---
import { CheckIcon } from "@/icons";

interface Item {
  title: string;
  desc: string;
}

interface Props {
  title: string;
  hasIcon?: boolean;
  description?: string;
  items: Item[] | string[];
  class?: string;
}

const {
  title,
  description,
  hasIcon = true,
  items,
  class: className,
} = Astro.props;
---

<article
  class:list={[
    "flex flex-col gap-3 rounded-xl bg-white p-5 shadow-sm",
    className,
  ]}
>
  {
    hasIcon ? (
      <span class="bg-primary block size-fit rounded-md p-1 text-center text-white">
        <slot />
      </span>
    ) : null
  }

  <h2 class="text-foreground-secondary font-playfair text-lg font-bold">
    {title}
  </h2>
  {description && <p class="text-sm">{description}</p>}
  <ul class="mt-2 flex list-inside list-disc flex-col gap-2 text-sm">
    {
      items.map((item) =>
        typeof item === "object" && "title" in item ? (
          <li class="inline-flex gap-2">
            <CheckIcon class="text-primary size-6" />
            <div class="flex flex-col">
              <span class="text-foreground-secondary text-base font-medium">
                {item.title}
              </span>
              <span class="text-sm">{item.desc}</span>
            </div>
          </li>
        ) : (
          <li class="inline-flex items-center gap-2">
            <CheckIcon class="text-primary size-6" />
            {item}
          </li>
        ),
      )
    }
  </ul>
</article>
